<li class="has-children">
    <ul class="dropdown">
    <li><a href="#">Supplements</a></li>
    <li class="has-children">
    <a href="#">Vitamins</a>
    <ul class="dropdown">
    <li><a href="#">Supplements</a></li>
    <li><a href="#">Vitamins</a></li>
    <li><a href="#">Diet &amp; Nutrition</a></li>
    <li><a href="#">Tea &amp; Coffee</a></li>
    </ul>
    </li>
    <li><a href="#">Diet &amp; Nutrition</a></li>
    <li><a href="#">Tea &amp; Coffee</a></li>

    </ul> 
</li>