@model List<Category>


@* <a asp-action="Index" asp-controller="Category"> </a> *@

<div>
	<div class="container">


		<h1>Categories</h1>
        <table class="table table-bordered">

				<thead>
                    <th>ID</th>
                    <th>Neme</th>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.Id</td>

                        <td>@item.Name</td>

                    </tr>
                }
                </tbody>
				


			

        </table>

	</div>

</div>



