@model List<Category>

@*<li class="has-children">
    <ul class="dropdown">
    <li><a href="#">Supplements</a></li>
    <li class="has-children">
    <a href="#">Vitamins</a>
    <ul class="dropdown">
    <li><a href="#">Supplements</a></li>
    <li><a href="#">Vitamins</a></li>
    <li><a href="#">Diet &amp; Nutrition</a></li>
    <li><a href="#">Tea &amp; Coffee</a></li>
    </ul>
    </li>
    <li><a href="#">Diet &amp; Nutrition</a></li>
    <li><a href="#">Tea &amp; Coffee</a></li>

    </ul> 
</li>*@





<a asp-action="Index" asp-controller="Category"> </a>

<div>

	<h1>Categories</h1>

	<table>

		<div class="container">


			<div class="row align-content-lg-start-border border-danger">

				<div class="col-2 border border-danger ">

					Id
				</div>

				<div class="col-2 border border-danger ">

					Name
				</div>

			</div>


			@foreach (var item in Model)
			{
			<tr>

				<td>Id:@item.Id</td>

				<td>Name:@item.Name</td>

			</tr>
			}
	</table>

</div>



